USE [PromptMarketPlace]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AiModels]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AiModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AiProviderId] [int] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[ModelId] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Capabilities] [nvarchar](max) NOT NULL,
	[CostPer1KTokens] [decimal](10, 6) NULL,
	[CostPerImage] [decimal](10, 6) NULL,
	[CostPerSecondVideo] [decimal](10, 6) NULL,
	[MaxTokens] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_AiModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AiProviders]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AiProviders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[BaseUrl] [nvarchar](500) NOT NULL,
	[ApiKeyEncrypted] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AiProviders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppInputFields]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppInputFields](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Label] [nvarchar](max) NOT NULL,
	[Placeholder] [nvarchar](max) NULL,
	[HelpText] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
	[Options] [nvarchar](max) NULL,
	[IsRequired] [bit] NOT NULL,
	[MinLength] [int] NULL,
	[MaxLength] [int] NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_AppInputFields] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apps]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Slug] [nvarchar](200) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[ShortDescription] [nvarchar](160) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ThumbnailUrl] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreditCost] [int] NOT NULL,
	[OutputType] [int] NOT NULL,
	[AiModelId] [int] NOT NULL,
	[EncryptedPrompt] [nvarchar](max) NOT NULL,
	[SystemContext] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
	[CreatorProfileId] [int] NOT NULL,
	[ExecutionCount] [bigint] NOT NULL,
	[AverageRating] [real] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Apps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppTags]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppId] [int] NOT NULL,
	[TagName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AppTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[Role] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AdminUserId] [nvarchar](450) NOT NULL,
	[Action] [nvarchar](200) NOT NULL,
	[TargetType] [nvarchar](50) NULL,
	[TargetId] [nvarchar](100) NULL,
	[Details] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
	[IconClass] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreatorProfiles]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreatorProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[WebsiteUrl] [nvarchar](max) NULL,
	[IsVerified] [bit] NOT NULL,
	[IsFoundingCreator] [bit] NOT NULL,
	[CommissionPercent] [decimal](5, 2) NOT NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CreatorProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditPackages]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditPackages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreditAmount] [int] NOT NULL,
	[PriceRial] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsBestValue] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_CreditPackages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExecutionInputValues]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExecutionInputValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExecutionId] [bigint] NOT NULL,
	[FieldName] [nvarchar](max) NOT NULL,
	[FieldValue] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ExecutionInputValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Executions]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Executions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AppId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Status] [int] NOT NULL,
	[OutputType] [int] NOT NULL,
	[OutputText] [nvarchar](max) NULL,
	[OutputImageUrl] [nvarchar](max) NULL,
	[OutputVideoUrl] [nvarchar](max) NULL,
	[OutputAudioUrl] [nvarchar](max) NULL,
	[OutputFormSchema] [nvarchar](max) NULL,
	[CreditUsed] [int] NOT NULL,
	[TokensUsed] [int] NULL,
	[ActualApiCost] [decimal](10, 6) NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[Duration] [time](7) NULL,
	[IsPublic] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Executions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[AppId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[PackageId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[CreditAmount] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[ZarinpalAuthority] [nvarchar](100) NULL,
	[ZarinpalRefId] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[VerifiedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[IsVerifiedPurchase] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShowcaseItems]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShowcaseItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppId] [int] NOT NULL,
	[OutputType] [int] NOT NULL,
	[OutputUrl] [nvarchar](max) NULL,
	[OutputText] [nvarchar](max) NULL,
	[Caption] [nvarchar](max) NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ShowcaseItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Group] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsEncrypted] [bit] NOT NULL,
 CONSTRAINT [PK_SystemSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallets]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[CreditBalance] [int] NOT NULL,
	[EarningBalance] [decimal](18, 2) NOT NULL,
	[TotalEarned] [decimal](18, 2) NOT NULL,
	[TotalWithdrawn] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Wallets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WalletTransactions]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WalletTransactions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Type] [int] NOT NULL,
	[CreditAmount] [int] NULL,
	[MoneyAmount] [decimal](18, 2) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ReferenceId] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_WalletTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WithdrawalRequests]    Script Date: 6/8/2026 10:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WithdrawalRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatorProfileId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[BankAccountInfo] [nvarchar](max) NOT NULL,
	[AdminNote] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ProcessedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_WithdrawalRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260605145332_InitialCreate', N'9.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260605145908_SeedAiProvidersAndModels', N'9.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260606083446_AddAdminAuditLog', N'9.0.5')
GO
SET IDENTITY_INSERT [dbo].[AiModels] ON 

INSERT [dbo].[AiModels] ([Id], [AiProviderId], [Name], [ModelId], [Description], [Capabilities], [CostPer1KTokens], [CostPerImage], [CostPerSecondVideo], [MaxTokens], [IsActive], [IsDefault], [SortOrder]) VALUES (1, 1, N'Gemma 4 31B (رایگان)', N'google/gemma-4-31b-it:free', NULL, N'["TextGeneration","CodeGeneration"]', CAST(0.003000 AS Decimal(10, 6)), NULL, NULL, 2048, 0, 0, 1)
INSERT [dbo].[AiModels] ([Id], [AiProviderId], [Name], [ModelId], [Description], [Capabilities], [CostPer1KTokens], [CostPerImage], [CostPerSecondVideo], [MaxTokens], [IsActive], [IsDefault], [SortOrder]) VALUES (2, 1, N'Claude Haiku 4.5', N'anthropic/claude-haiku-4-5', NULL, N'["TextGeneration","CodeGeneration"]', CAST(0.000250 AS Decimal(10, 6)), NULL, NULL, 200000, 0, 0, 2)
INSERT [dbo].[AiModels] ([Id], [AiProviderId], [Name], [ModelId], [Description], [Capabilities], [CostPer1KTokens], [CostPerImage], [CostPerSecondVideo], [MaxTokens], [IsActive], [IsDefault], [SortOrder]) VALUES (3, 1, N'GPT-4o', N'openai/gpt-4o', NULL, N'["TextGeneration","CodeGeneration"]', CAST(0.005000 AS Decimal(10, 6)), NULL, NULL, 128000, 0, 0, 3)
SET IDENTITY_INSERT [dbo].[AiModels] OFF
GO
SET IDENTITY_INSERT [dbo].[AiProviders] ON 

INSERT [dbo].[AiProviders] ([Id], [Name], [BaseUrl], [ApiKeyEncrypted], [IsActive], [Description], [CreatedAt]) VALUES (1, N'OpenRouter', N'https://openrouter.ai/api/v1', N'XIIm4pp/XbpC+x+4qBYawF3/iS9LVjx8XXZLO4i8FMnGeVsIsHWaI3KbkBCgf6Fzr6RvjvFd7e7/LfVA4V2uYBXD78zmHYNEiCQyd+/SF/ZwAV1Cmiy9NsjWqM2HVW92', 0, N'گیت‌وی یکپارچه برای دسترسی به همه مدل‌های هوش مصنوعی', CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[AiProviders] ([Id], [Name], [BaseUrl], [ApiKeyEncrypted], [IsActive], [Description], [CreatedAt]) VALUES (2, N'OpenRouter', N'https://openrouter.ai/api/v1', N'gNN+CpJBavXTG52PtvL8gHAhsi5TvQ6YUxs0iR2q2Z6Ku3JPHaCcO9C+ZyUF3xc8tL6Uhla3BwZfcqMyprxDv4D1ILLCA3f4NikWk4rcsxz/g9jooIuwDgGUMDLUbpXZ', 1, NULL, CAST(N'2026-06-06T17:23:42.4380841' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AiProviders] OFF
GO
SET IDENTITY_INSERT [dbo].[AppInputFields] ON 

INSERT [dbo].[AppInputFields] ([Id], [AppId], [Name], [Label], [Placeholder], [HelpText], [Type], [Options], [IsRequired], [MinLength], [MaxLength], [SortOrder]) VALUES (1, 1, N'product_name', N'نام محصول/خدمت', N'مثال: اپلیکیشن تاکسی آنلاین', N'نام دقیق محصول یا خدمتی که می‌خواهید تبلیغ کنید', 0, NULL, 1, 2, 100, 1)
INSERT [dbo].[AppInputFields] ([Id], [AppId], [Name], [Label], [Placeholder], [HelpText], [Type], [Options], [IsRequired], [MinLength], [MaxLength], [SortOrder]) VALUES (2, 1, N'features', N'ویژگی‌های اصلی', N'سریع، ارزان، امن...', N'مهم‌ترین مزایا و ویژگی‌های محصول را بنویسید', 1, NULL, 1, 10, 500, 2)
INSERT [dbo].[AppInputFields] ([Id], [AppId], [Name], [Label], [Placeholder], [HelpText], [Type], [Options], [IsRequired], [MinLength], [MaxLength], [SortOrder]) VALUES (3, 1, N'target_audience', N'مخاطب هدف', N'جوانان ۱۸ تا ۳۵ سال', N'چه کسانی مخاطب اصلی این محصول هستند؟', 0, NULL, 1, 3, 200, 3)
SET IDENTITY_INSERT [dbo].[AppInputFields] OFF
GO
SET IDENTITY_INSERT [dbo].[Apps] ON 

INSERT [dbo].[Apps] ([Id], [Slug], [Title], [ShortDescription], [Description], [ThumbnailUrl], [Status], [CreditCost], [OutputType], [AiModelId], [EncryptedPrompt], [SystemContext], [CategoryId], [CreatorProfileId], [ExecutionCount], [AverageRating], [CreatedAt], [UpdatedAt]) VALUES (7, N'تست-روانشناسی-به-کمک-هوش-مصنوعی', N'تست روانشناسی به کمک هوش مصنوعی', N'با کمک هوش مصنوعی، شخصیت، نقاط قوت، سبک تفکر و ویژگی‌های رفتاری خود را بهتر بشناسید. تنها با پاسخ به چند سؤال، تحلیل دقیق و کاربردی از وضعیت روانشناختی خود دریا', N'تست روانشناسی مبتنی بر هوش مصنوعی ابزاری هوشمند برای شناخت بهتر شخصیت، احساسات، رفتارها و الگوهای فکری شماست. این سیستم با تحلیل پاسخ‌های شما، گزارشی جامع از ویژگی‌های شخصیتی، نقاط قوت، زمینه‌های قابل بهبود، سبک ارتباطی و توانمندی‌های فردی ارائه می‌دهد.

برخلاف تست‌های سنتی، هوش مصنوعی می‌تواند پاسخ‌ها را با دقت بیشتری بررسی کرده و تحلیل‌هایی شخصی‌سازی‌شده و کاربردی در اختیار شما قرار دهد. این تست برای افرادی که به خودشناسی، توسعه فردی، بهبود روابط، انتخاب مسیر شغلی یا افزایش آگاهی از توانایی‌های خود علاقه‌مند هستند، گزینه‌ای مناسب و ارزشمند محسوب می‌شود.', N'/uploads/thumbnails/a62778e0-bd1a-4001-9996-0559be740b52.jpg', 3, 2, 3, 13, N'GH1k1LIka/ofIUP4fWS0TKyVHifbaBJRaaubomqgHNLXjFWesPUDVSQrgTH1YgGpoQ6Ag4BQnHWQkjdvpq7qIrTu9+11m3njmT/TquCmBY6ICvXGVoCavWQtl6VgSnNAwHG8iMtNphT4SNEt9yorTP7mtKDWIbL4bgbxrTWul0dPf+SSm6hEmDX3SygHFQWROJzFhCKx0hZsvU47JJl+N/+ZwBp81SDlM1TJtwCWAGV/ix3t5wuinawc+k5kutDLR0tmOfmu1MAnhY5CvFHdqzZhehbCetIWxymLcycmD2No8jbqKoj+dE9HZcP/7EK+rTSlDGUvd+TNKTWPhsZ26CngLgmXIP4q0GuDw8FCBd3IHwKRUvNR8tMRVY4siZOsw5af0LPEUy6O/gvl1Cg5bcU9bEnqP+wJbQxK7X6or41SCeItSdMPOfcyfPNycJSQMhG8pZy2VlQxiPBo3VJbieqEfON7OQWuQDBcmR11ZjbzxAhdSBCNfEEWlux8YC1Ofl+L+EyBw6/6fr7J7UWnoNQR/wSfV+C48/aFpfUqAPNJfTTO1vp7Sjegbf5mTjRhlS9qrFR8S5BEnymrCWC0rp0u8wJeI1iK9EnaaK5WsZbIf6Kx6OGn5VztqCHWAf8cZIqXBasUafLYyFM01NfRRYgduHADeIoZ+jejhZXL11JwkyZT5ep3sXy4cwNF6/q1m7qtYRorRsqqNvysCuVdgwFcJwTpYMHrOfQ6btOirPOherjG4qvKdhbxyJONj3XzPuwRi9UFekmDz8smOhy4c0veIBU9+ZD6egVAMOSen9jMr8cMiyqTuK0kcBmuFIgNTTUVpdgPAIIimC5FKvYa9qObjfMLEgHtwJ/sJpGT+wfDQFlk1PyRp/wFRguQHm9NVmBXDwVlQkX0vHPbo6iPmFoxTfYdB6ty/w5Pi+wM3aJajPDgvjLvayp6cjKaH2zC8m5+6fuWX5gHPUk+qxRuwikvfS8liin9Cxu2rq8bglVQz572pLE7trc4yYmlPp+T68RMYzaA4C9yrr/bSqPKBjLIHNNxEoaIKOMAa6umXH8jagF6j3bqdmK26xhyUmHCEAHnzjVRTSdGS+MmTKOrPCcHii/n1GyYgQikCAZ87Lpgh6oMHilHayi+lno1m+fxEZBlnZdv99FfZvw0MaWc+zFz+1g+iiswQxErW86IZ84XNtmAzoVXyf1cqhU7AvFLX3Lhm0Ahv6KHVHda9nEHYjY/ddfI7MI/tUyR01b5hQ9G0S0IcFDAsch7nzeBL8OXoD6bmcAzGs76rhq72HyV5cOyW8df7WQ/dfztP5L1aRumchmhSp2bYO4D0ZnH/ANxDVpaXSTP4NVa3VnyltBrsClAVxP91Oe7PmszuYceG2qSXok65G53sAKB/bf6Gg5NVGhQYx3hDfn3oPQLHYhQ1BxAixwcWyXqvTUu6a6ioafap7Y5f7j0WwtQjr2quQT54sPtJNCvvfxjLd3L7BhQB+KtwKDg9dP2NBFP24RiOF1xUzG9jNRMJtlsxti8AX4lLiB/58HQlgHoGUjK2U3nct7DSBPeRTH19apD+GbLxb73O+MsmtS/u75dMOcrGegxWRhvkRpedXrT3AGS6ZLUQLNRG08D8Z6PFvrusroLjgVEfXH4Ih2itFeZ+QCV/L8CPu2Pm0ai4OQsX2UD8eU98+VumvxRME6UHkYHB9xcSq+vu14XXWBfrpMNPXcpoovDaIb0UHht/CD3bScvIi4dS6UFRAkSHos0bmI6g+ziV48eWKwXOxDoboKeFbwiV+grTHYPtjXgWUp61RHhRSoQ9YMMM+v9NrHPQcg0248WONGPAmE9qC9Vjsr1odCYZUpZp3TQlUedtMrfxk6B1VYJYSPlJBp5NWjt9hmkUdiEOUjpDpt+TXbyC0HB86Lmszq5mArLfddcLrzhHHebQYF5ODQPZ4Auf56CZuGvNpmbkDCV8vv2xp5oXLSi1HHVRrFoLDgHeGyPPUoOEtIZ7JndQdSXr4PVZZxwFGrAv1QIuliinqhFfR99pGeNmlSX0O7wI7zx3h9snLLxmbb3WNOsf0reMMPOpBpT2aYex3fy8qIbjxFTbwaoclunE3lIbvLTaubbkNjdg7X96LwZErUJD9m6xteDBiReJVOAGLyWJNEleMLkWqAfNlCjqeZcSYM3gAE5+Y0KE3OymwfY+hix+Et1x5MhT3dOnxTDB8xP/DXRv6bi7BOU4yXbzvwfcV5DcwFezBZXOpQCsGA4nhiv8n60CIRshgplJEjHTtzi6rRFjuYykjq63PfWOa9YHpLIOgo6MVGsuGJXUMyUwxVMjheW5KIH5iXQ638AFtY0zRVehu2RwkFuE9umSnAGgS7yA3mMnSfqSi92G4Wx3bb8Ag==', NULL, 7, 2, 0, 0, CAST(N'2026-06-06T20:37:25.9036077' AS DateTime2), CAST(N'2026-06-06T20:46:44.5863506' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Apps] OFF
GO
SET IDENTITY_INSERT [dbo].[AppTags] ON 

INSERT [dbo].[AppTags] ([Id], [AppId], [TagName]) VALUES (25, 1, N'تبلیغات')
INSERT [dbo].[AppTags] ([Id], [AppId], [TagName]) VALUES (26, 1, N'بازاریابی')
INSERT [dbo].[AppTags] ([Id], [AppId], [TagName]) VALUES (27, 1, N'کپی‌رایتینگ')
SET IDENTITY_INSERT [dbo].[AppTags] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'06d3d00d-dacc-424e-9a22-3c1afb6cc352', N'User', N'USER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'd201c95f-af1c-49e6-8516-2ace6b577dc1', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'e031bdff-b77b-4374-a00e-843cc1c4e093', N'Creator', N'CREATOR', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'4e506a92-d1ef-4758-a6aa-0edd2afda7e3', N'06d3d00d-dacc-424e-9a22-3c1afb6cc352')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8859df9b-94b0-43a5-b3f6-021ec278bae1', N'06d3d00d-dacc-424e-9a22-3c1afb6cc352')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8ab3eaef-49c9-4052-bb5d-57f29b5bdd5e', N'06d3d00d-dacc-424e-9a22-3c1afb6cc352')
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([Id], [AdminUserId], [Action], [TargetType], [TargetId], [Details], [IpAddress], [CreatedAt]) VALUES (1, N'649de3cd-9381-4ff6-b428-3e339245087c', N'ApproveApp', N'App', N'7', N'ابزار ''تست روانشناسی به کمک هوش مصنوعی'' تایید شد', N'127.0.0.1', CAST(N'2026-06-06T20:44:48.4285765' AS DateTime2))
INSERT [dbo].[AuditLogs] ([Id], [AdminUserId], [Action], [TargetType], [TargetId], [Details], [IpAddress], [CreatedAt]) VALUES (2, N'649de3cd-9381-4ff6-b428-3e339245087c', N'ChangeAppStatus', N'App', N'7', N'وضعیت ''تست روانشناسی به کمک هوش مصنوعی'' از Active به Suspended تغییر یافت', N'127.0.0.1', CAST(N'2026-06-06T20:46:44.5896434' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Slug], [IconClass], [Description], [SortOrder]) VALUES (1, N'تولید محتوا', N'content-creation', N'fas fa-pen-nib', NULL, 1)
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [IconClass], [Description], [SortOrder]) VALUES (2, N'مارکتینگ و تبلیغات', N'marketing', N'fas fa-bullhorn', NULL, 2)
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [IconClass], [Description], [SortOrder]) VALUES (3, N'تصویر و گرافیک', N'image-graphics', N'fas fa-image', NULL, 3)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[CreatorProfiles] ON 

INSERT [dbo].[CreatorProfiles] ([Id], [UserId], [Bio], [WebsiteUrl], [IsVerified], [IsFoundingCreator], [CommissionPercent], [JoinedAt]) VALUES (1, N'8859df9b-94b0-43a5-b3f6-021ec278bae1', NULL, NULL, 0, 0, CAST(70.00 AS Decimal(5, 2)), CAST(N'2026-06-06T09:01:18.9033466' AS DateTime2))
INSERT [dbo].[CreatorProfiles] ([Id], [UserId], [Bio], [WebsiteUrl], [IsVerified], [IsFoundingCreator], [CommissionPercent], [JoinedAt]) VALUES (2, N'fe5dd038-9621-4675-a8e2-bd8e44123886', NULL, NULL, 0, 0, CAST(70.00 AS Decimal(5, 2)), CAST(N'2026-06-06T14:36:36.5280767' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CreatorProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[CreditPackages] ON 

INSERT [dbo].[CreditPackages] ([Id], [Name], [CreditAmount], [PriceRial], [IsActive], [IsBestValue], [SortOrder]) VALUES (1, N'بسته آزمایشی', 50, CAST(250000.00 AS Decimal(18, 2)), 1, 0, 1)
INSERT [dbo].[CreditPackages] ([Id], [Name], [CreditAmount], [PriceRial], [IsActive], [IsBestValue], [SortOrder]) VALUES (2, N'بسته استارتر', 150, CAST(600000.00 AS Decimal(18, 2)), 1, 0, 2)
INSERT [dbo].[CreditPackages] ([Id], [Name], [CreditAmount], [PriceRial], [IsActive], [IsBestValue], [SortOrder]) VALUES (3, N'بسته حرفه‌ای', 400, CAST(1400000.00 AS Decimal(18, 2)), 1, 1, 3)
SET IDENTITY_INSERT [dbo].[CreditPackages] OFF
GO
SET IDENTITY_INSERT [dbo].[ExecutionInputValues] ON 

INSERT [dbo].[ExecutionInputValues] ([Id], [ExecutionId], [FieldName], [FieldValue]) VALUES (1, 1, N'product_name', N'MainStore - بازار آنلاین ایرانیان سوئد')
INSERT [dbo].[ExecutionInputValues] ([Id], [ExecutionId], [FieldName], [FieldValue]) VALUES (2, 1, N'features', N'ارسال سریع در سراسر سوئد، فروش محصولات اصیل ایرانی، پشتیبانی فارسی، سفارش آنلاین آسان، تنوع بالای کالا، قیمت رقابتی، خرید امن، فروشندگان معتبر، تخفیف‌های ویژه و تجربه خرید راحت برای ایرانیان مقیم سوئد')
INSERT [dbo].[ExecutionInputValues] ([Id], [ExecutionId], [FieldName], [FieldValue]) VALUES (3, 1, N'target_audience', N'ایرانیان مقیم سوئد، خانواده‌های ایرانی، دانشجویان ایرانی، مهاجران فارسی‌زبان، افرادی که به دنبال خرید محصولات ایرانی با تحویل سریع و مطمئن هستند')
SET IDENTITY_INSERT [dbo].[ExecutionInputValues] OFF
GO
SET IDENTITY_INSERT [dbo].[Executions] ON 

INSERT [dbo].[Executions] ([Id], [AppId], [UserId], [Status], [OutputType], [OutputText], [OutputImageUrl], [OutputVideoUrl], [OutputAudioUrl], [OutputFormSchema], [CreditUsed], [TokensUsed], [ActualApiCost], [ErrorMessage], [Duration], [IsPublic], [CreatedAt]) VALUES (1, 1, N'8ab3eaef-49c9-4052-bb5d-57f29b5bdd5e', 0, 0, NULL, NULL, NULL, NULL, NULL, 1, NULL, CAST(0.000000 AS Decimal(10, 6)), NULL, NULL, 0, CAST(N'2026-06-06T17:09:44.6644887' AS DateTime2))
INSERT [dbo].[Executions] ([Id], [AppId], [UserId], [Status], [OutputType], [OutputText], [OutputImageUrl], [OutputVideoUrl], [OutputAudioUrl], [OutputFormSchema], [CreditUsed], [TokensUsed], [ActualApiCost], [ErrorMessage], [Duration], [IsPublic], [CreatedAt]) VALUES (2, 1, N'8ab3eaef-49c9-4052-bb5d-57f29b5bdd5e', 3, 0, NULL, NULL, NULL, NULL, NULL, 1, NULL, CAST(0.000000 AS Decimal(10, 6)), N'خطا از سرویس AI: Unauthorized', NULL, 0, CAST(N'2026-06-06T17:13:10.6906105' AS DateTime2))
INSERT [dbo].[Executions] ([Id], [AppId], [UserId], [Status], [OutputType], [OutputText], [OutputImageUrl], [OutputVideoUrl], [OutputAudioUrl], [OutputFormSchema], [CreditUsed], [TokensUsed], [ActualApiCost], [ErrorMessage], [Duration], [IsPublic], [CreatedAt]) VALUES (3, 1, N'8ab3eaef-49c9-4052-bb5d-57f29b5bdd5e', 3, 0, NULL, NULL, NULL, NULL, NULL, 1, NULL, CAST(0.000000 AS Decimal(10, 6)), N'خطا از سرویس AI: PaymentRequired', NULL, 0, CAST(N'2026-06-06T17:19:42.0884298' AS DateTime2))
INSERT [dbo].[Executions] ([Id], [AppId], [UserId], [Status], [OutputType], [OutputText], [OutputImageUrl], [OutputVideoUrl], [OutputAudioUrl], [OutputFormSchema], [CreditUsed], [TokensUsed], [ActualApiCost], [ErrorMessage], [Duration], [IsPublic], [CreatedAt]) VALUES (8, 1, N'8ab3eaef-49c9-4052-bb5d-57f29b5bdd5e', 2, 0, N'سلام! به عنوان متخصص کپی‌رایتینگ، برای **MainStore** استراتژی محتوایی را طراحی کردم که بر روی «حس نوستالژی»، «راحتی» و «اعتماد» تمرکز دارد. با توجه به اینکه مخاطب ما ایرانیان مقیم سوئد هستند، لحن متن را «دوستانه اما حرفه‌ای» انتخاب کردم تا هم صمیمیت خانواده و وطن را منتقل کند و هم کیفیت خدمات یک فروشگاه مدرن را.

در ادامه، خروجی نهایی آماده استفاده است:

---

### ۱. تیتر و زیرتیتل (برای وب‌سایت یا بنرهای تبلیغاتی)

**تیتر اصلی:** 
**«طعم و رنگ ایران، حالا در قلب سوئد!»**

**زیرتیتل:** 
**با MainStore، هر آنچه از وطن دلتنگش بودی را با یک کلیک سفارش بده و سریع‌ترین تحویل را تجربه کن.**

---

### ۲. متن تبلیغاتی (۱۵۰ تا ۲۰۰ کلمه)

دلتنگ بوی زعفران، طعم اصیل خوراکی‌های ایرانی یا کیفیت محصولات وطنی هستی؟ می‌دانیم که در غربت، پیدا کردن کالاهای مورد علاقه‌مان که هم اصیل باشند و هم به‌موقع برسند، گاهی چالش‌برانگیز است. اما حالا **MainStore** این فاصله را برای شما کوتاه کرده است.

ما در بازار آنلاین ایرانیان سوئد، مجموعه‌ای کامل از محصولات باکیفیت و اصیل ایرانی را جمع کرده‌ایم تا شما بدون دغدغه، هر آنچه نیاز دارید را سفارش دهید. فرقی نمی‌کند دانشجو باشید، سرپرست خانواده یا کسی که تازه به سوئد آمده؛ ما با پشتیبانی کامل فارسی، خرید امن و قیمت‌های رقابتی، در کنار شما هستیم.

بزرگترین اولویت ما، لبخند رضایت شماست؛ به همین دلیل سیستم ارسال سریع ما در سراسر سوئد فعال است تا سفارشات شما در کوتاه‌ترین زمان ممکن درب منزل تحویل داده شود. با فروشندگان معتبر و تخفیف‌های ویژه‌مان، تجربه‌ای لذت‌بخش و راحت از خرید آنلاین را تجربه کنید. 

**MainStore؛ پلی میان شما و خانه.**

---

### ۳. دعوت به اقدام (CTA)

**«همین حالا به MainStore سر بزنید و اولین سفارش خود را با تخفیف ویژه ثبت کنید! 🛒✨»**
[دکمه: ورود به فروشگاه / خرید آنلاین]

---

### ۴. کپشن‌های شبکه‌های اجتماعی

#### گزینه ۱: اینستاگرام (احساسی و بصری)
*مناسب برای پست‌های اسلایدی یا ریلز از محصولات*

دلتنگی برای ایران رو با یه خرید خوشمزه و کاربردی جایگزین کن! 🇮🇷🇸🇪
دیگه لازم نیست برای پیدا کردن محصولات اصیل ایرانی کلی بگردی. MainStore تمام نیازهای تو رو از تنوع بالای کالاها تا ارسال سریع در سراسر سوئد فراهم کرده. 🚚

✅ خرید امن و آسان
✅ پشتیبانی فارسی
✅ قیمت‌های رقابتی و تخفیف‌های جذاب

همین حالا روی لینک بیو کلیک کن و حس خوب خونه رو به خونه‌ات بیار! ❤️
#ایرانیان_سوئد #خرید_آنلاین #محصولات_ایرانی #MainStore #زندگی_در_سوئد #نوستالژی

---

#### گزینه ۲: لینکدین (حرفه‌ای و خدماتی)
*مناسب برای جذب مخاطبان شاغل و دانشجویان*

ارائه خدمات باکیفیت به جامعه ایرانیان مقیم سوئد، هدف اصلی ما در MainStore است. 💼
ما با ایجاد یک پلتفرم جامع و متمرکز، دسترسی به کالاهای اصیل ایرانی را با استانداردهای مدرن خرید آنلاین، ارسال سریع و پشتیبانی فعال فارسی فراهم کرده‌ایم. اگر به دنبال تجربه‌ای امن، سریع و مطمئن از خرید آنلاین در سوئد هستید، MainStore همراه شماست.

از شما دعوت می‌کنیم برای آشنایی با خدمات و تنوع محصولات ما، از وب‌سایت ما بازدید کنید.
#تجارت_آنلاین #ایرانیان_سوئد #خدمات_به_جامعه #MainStore #لجستیک_سریع

---

#### گزینه ۳: توییتر/X (کوتاه، سریع و صریح)
*مناسب برای جذب سریع مخاطب*

دنبال یه راه راحت برای خرید محصولات ایرانی در سوئد می‌گردی؟ 🤔
MainStore اینجاست! 🇸🇪🇮🇷
✅ ارسال سریع در سراسر سوئد
✅ قیمت رقابتی و خرید امن
✅ پشتیبانی فارسی

همین حالا سفارش بده و راحت باش:
[لینک وب‌سایت] 🌐
#سوئد #ایرانیان_سوئد #خرید_آنلاین #MainStore', NULL, NULL, NULL, NULL, 1, 1319, CAST(0.000000 AS Decimal(10, 6)), NULL, CAST(N'00:00:30.5993172' AS Time), 0, CAST(N'2026-06-06T20:05:27.2548517' AS DateTime2))
INSERT [dbo].[Executions] ([Id], [AppId], [UserId], [Status], [OutputType], [OutputText], [OutputImageUrl], [OutputVideoUrl], [OutputAudioUrl], [OutputFormSchema], [CreditUsed], [TokensUsed], [ActualApiCost], [ErrorMessage], [Duration], [IsPublic], [CreatedAt]) VALUES (11, 2, N'8ab3eaef-49c9-4052-bb5d-57f29b5bdd5e', 2, 0, N'سلام! به عنوان متخصص Prompt Engineering، برای تبدیل این ایده ساده به یک اثر بصری خیره‌کننده، باید روی تضاد بین «تکنولوژی» (لپ‌تاپ/برنامه‌نویسی) و «طبیعت بکر» (جنگل) تمرکز کنیم تا حس آرامش و تمرکز را به مخاطب منتقل کنیم.

در ادامه، پرامپت‌های بهینه شده برای سه مدل مختلف را آماده کرده‌ام:

---

### ۱. پرامپت انگلیسی حرفه‌ای (Professional Prompts)

از آنجایی که هر مدل ساختار متفاوتی دارد، سه نسخه ارائه می‌دهم:

**برای Midjourney (تمرکز بر هنر و اتمسفر):**
> **Prompt:** A hyper-realistic cinematic shot of a professional female programmer sitting cross-legged on a mossy rock in a lush, ancient forest, working on a sleek modern laptop. High contrast lighting with golden sunlight filtering through dense emerald green canopy (komorebi effect), ethereal atmosphere, serene expression, wearing comfortable oversized linen clothes. Shot on 85mm lens, f/1.8, deep depth of field, soft bokeh background, 8k resolution, masterpiece, photorealistic, highly detailed skin texture, intricate forest foliage, moody lighting, sharp focus. --ar 16:9 --v 6.0 --style raw

**برای DALL-E 3 (تمرکز بر توصیفات دقیق و مفهومی):**
> **Prompt:** A photorealistic high-contrast image of a woman programmer deeply focused on her laptop while sitting in the heart of a misty, vibrant forest. The scene is peaceful and serene. Bright sunlight pierces through the tall trees, creating strong highlights and deep shadows. She is surrounded by giant ferns and ancient trees. The contrast between the glowing screen and the organic greens of the nature is striking. Ultra-detailed, 8k, cinematic composition, professional photography.

**برای Stable Diffusion (تمرکز بر کلمات کلیدی و توکن‌ها):**
> **Prompt:** (Masterpiece, best quality, photorealistic:1.3), a beautiful female programmer, sitting in a deep forest, working on a laptop, high contrast, cinematic lighting, god rays, sunlight filtering through leaves, lush greenery, mossy ground, serene atmosphere, calm expression, 8k, highly detailed, sharp focus, depth of field, Fujifilm XT4, 85mm, detailed skin pores, soft shadows, nature core, high dynamic range.

---

### ۲. Negative Prompt (برای حذف عناصر ناخواسته)
این بخش مخصوص Stable Diffusion و برخی نسخه‌های Midjourney است تا کیفیت تصویر بالا برود:

> **Negative Prompt:** (deformed, distorted, disfigured:1.3), poorly drawn, bad anatomy, extra fingers, mutated hands, blurry, low resolution, grainy, watermark, text, logo, cartoon, anime, painting, artificial, noisy, crowded, chaotic, stressful environment, bright neon colors, distorted laptop, plastic skin.

---

### ۳. توضیح فارسی از تصویر نهایی
تصویر نهایی، یک نمای سینمایی و بسیار واقع‌گرایانه است. یک خانم برنامه‌نویس با چهره‌ای آرام و متمرکز، در قلب یک جنگل انبوه و سبز نشسته است. تضاد اصلی تصویر در نورپردازی است؛ جایی که نور خورشید از میان برگ‌های درختان عبور کرده و خطوط نوری (God rays) ایجاد کرده که روی لباس‌های کتان و چهره او می‌تابد. تضاد بین نور شدید خورشید و سایه‌های عمیق جنگل، همراه با درخشش ملایم صفحه نمایش لپ‌تاپ در محیط سبز، حسی از تعادل بین دنیای دیجیتال و طبیعت را القا می‌کند. با عمق میدان کم، پس‌زمینه به صورت محو (Bokeh) است تا تمام تمرکز روی آرامش برنامه‌نویس باشد.

---

### ۴. پارامترهای پیشنهادی (Suggested Parameters)

*   **Aspect Ratio (نسبت تصویر):** 
    *   `--ar 16:9` (برای نمای سینمایی و عریض که وسعت جنگل را نشان دهد) یا `--ar 4:5` (برای تمرکز بیشتر روی پرتره و محیط اطراف).
*   **Stylize (در Midjourney):** 
    *   `--s 250` (برای حفظ تعادل بین خلاقیت مدل و واقع‌گرایی).
*   **Sampling Method (در Stable Diffusion):** 
    *   `DPM++ 2M Karras` یا `Euler a` برای رسیدن به بافت‌های طبیعی پوست و گیاهان.
*   **CFG Scale:** 
    *   بین `7` تا `9` (برای اینکه مدل هم به پرامپت وفادار باشد و هم بیش از حد مصنوعی نشود).', NULL, NULL, NULL, NULL, 2, 1227, CAST(0.000000 AS Decimal(10, 6)), NULL, CAST(N'00:00:19.1883938' AS Time), 0, CAST(N'2026-06-06T20:12:59.7328131' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Executions] OFF
GO
SET IDENTITY_INSERT [dbo].[ShowcaseItems] ON 

INSERT [dbo].[ShowcaseItems] ([Id], [AppId], [OutputType], [OutputUrl], [OutputText], [Caption], [SortOrder], [CreatedAt]) VALUES (1, 7, 0, NULL, N'🔍 نتیجه تحلیل شخصیت

بر اساس پاسخ‌های شما، رنگ مورد علاقه‌تان «آبی» است.

افرادی که رنگ آبی را ترجیح می‌دهند معمولاً آرام، قابل اعتماد، منطقی و مسئولیت‌پذیر هستند. آن‌ها به ثبات، صداقت و روابط عمیق اهمیت می‌دهند و معمولاً در شرایط دشوار تلاش می‌کنند با آرامش و تفکر منطقی تصمیم‌گیری کنند.

ویژگی‌های برجسته شما:
• آرام و متفکر
• قابل اعتماد و وفادار
• علاقه‌مند به نظم و برنامه‌ریزی
• دارای روحیه همکاری و همدلی
• تمایل به ایجاد روابط پایدار و معنادار

نکته قابل توجه:
گاهی ممکن است بیش از حد محتاط باشید یا احساسات و نگرانی‌های خود را کمتر با دیگران در میان بگذارید.

امتیاز تطابق با ویژگی‌های شخصیت آبی: 87 از 100
', NULL, 1, CAST(N'2026-06-06T20:43:14.8184141' AS DateTime2))
INSERT [dbo].[ShowcaseItems] ([Id], [AppId], [OutputType], [OutputUrl], [OutputText], [Caption], [SortOrder], [CreatedAt]) VALUES (2, 7, 0, NULL, N'🔍 نتیجه تحلیل شخصیت

بر اساس پاسخ‌های شما، رنگ مورد علاقه‌تان «قرمز» است.

افرادی که رنگ قرمز را دوست دارند معمولاً پرانرژی، جسور، جاه‌طلب و با اعتمادبه‌نفس هستند. آن‌ها از چالش‌ها استقبال می‌کنند و تمایل دارند در محیط‌های رقابتی پیشرو باشند. این افراد معمولاً انگیزه بالایی برای رسیدن به اهداف خود دارند و در تصمیم‌گیری‌ها قاطع عمل می‌کنند.

ویژگی‌های برجسته شما:
• اعتمادبه‌نفس بالا
• روحیه رهبری و مدیریت
• انگیزه و پشتکار قوی
• جسور و اهل ریسک
• توانایی اثرگذاری بر دیگران

نکته قابل توجه:
گاهی ممکن است عجول، کم‌حوصله یا بیش از حد رقابتی به نظر برسید. ایجاد تعادل میان هیجان و صبر می‌تواند به موفقیت بیشتر شما کمک کند.

امتیاز تطابق با ویژگی‌های شخصیت قرمز: 91 از 100
', NULL, 2, CAST(N'2026-06-06T20:43:52.4711588' AS DateTime2))
INSERT [dbo].[ShowcaseItems] ([Id], [AppId], [OutputType], [OutputUrl], [OutputText], [Caption], [SortOrder], [CreatedAt]) VALUES (3, 7, 0, NULL, N'🔍 نتیجه تحلیل شخصیت

بر اساس پاسخ‌های شما، رنگ مورد علاقه‌تان «سیاه» است.

افرادی که رنگ سیاه را انتخاب می‌کنند معمولاً مستقل، عمیق، باوقار و دارای شخصیت خاص هستند. آن‌ها به کیفیت، قدرت، نظم و حرفه‌ای بودن اهمیت زیادی می‌دهند و اغلب ترجیح می‌دهند قبل از تصمیم‌گیری همه جوانب را بررسی کنند.

ویژگی‌های برجسته شما:
• استقلال فکری بالا
• شخصیت قوی و باوقار
• توجه به کیفیت و جزئیات
• قدرت تحلیل و تفکر عمیق
• تمایل به حفظ حریم شخصی

نکته قابل توجه:
گاهی ممکن است دیگران شما را مرموز، سخت‌گیر یا کم‌احساس تصور کنند، در حالی که معمولاً پشت این ظاهر، فردی دقیق و متفکر قرار دارد.

امتیاز تطابق با ویژگی‌های شخصیت سیاه: 89 از 100
', NULL, 3, CAST(N'2026-06-06T20:43:57.2699392' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ShowcaseItems] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemSettings] ON 

INSERT [dbo].[SystemSettings] ([Id], [Key], [Value], [Group], [Description], [IsEncrypted]) VALUES (1, N'ZarinPal:MerchantId', N'', N'ZarinPal', N'شناسه پذیرنده زرین‌پال', 1)
INSERT [dbo].[SystemSettings] ([Id], [Key], [Value], [Group], [Description], [IsEncrypted]) VALUES (2, N'ZarinPal:IsSandbox', N'true', N'ZarinPal', N'حالت تست (true) یا production (false)', 0)
INSERT [dbo].[SystemSettings] ([Id], [Key], [Value], [Group], [Description], [IsEncrypted]) VALUES (3, N'General:SiteName', N'پرامپت مارکت', N'General', N'نام سایت', 0)
SET IDENTITY_INSERT [dbo].[SystemSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[Wallets] ON 

INSERT [dbo].[Wallets] ([Id], [UserId], [CreditBalance], [EarningBalance], [TotalEarned], [TotalWithdrawn]) VALUES (1, N'649de3cd-9381-4ff6-b428-3e339245087c', 0, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Wallets] ([Id], [UserId], [CreditBalance], [EarningBalance], [TotalEarned], [TotalWithdrawn]) VALUES (2, N'8859df9b-94b0-43a5-b3f6-021ec278bae1', 100, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Wallets] ([Id], [UserId], [CreditBalance], [EarningBalance], [TotalEarned], [TotalWithdrawn]) VALUES (3, N'4e506a92-d1ef-4758-a6aa-0edd2afda7e3', 100, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Wallets] OFF
GO
SET IDENTITY_INSERT [dbo].[WalletTransactions] ON 

INSERT [dbo].[WalletTransactions] ([Id], [UserId], [Type], [CreditAmount], [MoneyAmount], [Description], [ReferenceId], [CreatedAt]) VALUES (1, N'8ab3eaef-49c9-4052-bb5d-57f29b5bdd5e', 0, 1000, NULL, N'خرید بسته بسته سازمانی (تست)', N'TEST-c459b99e', CAST(N'2026-06-06T17:07:45.9861151' AS DateTime2))
INSERT [dbo].[WalletTransactions] ([Id], [UserId], [Type], [CreditAmount], [MoneyAmount], [Description], [ReferenceId], [CreatedAt]) VALUES (2, N'8ab3eaef-49c9-4052-bb5d-57f29b5bdd5e', 1, -1, NULL, N'اجرای ابزار: تولید متن تبلیغاتی حرفه‌ای', N'2', CAST(N'2026-06-06T17:13:10.7062109' AS DateTime2))
INSERT [dbo].[WalletTransactions] ([Id], [UserId], [Type], [CreditAmount], [MoneyAmount], [Description], [ReferenceId], [CreatedAt]) VALUES (3, N'8ab3eaef-49c9-4052-bb5d-57f29b5bdd5e', 4, 1, NULL, N'بازگشت اعتبار - خطا در اجرا', N'2', CAST(N'2026-06-06T17:13:10.8728311' AS DateTime2))
SET IDENTITY_INSERT [dbo].[WalletTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[WithdrawalRequests] ON 

INSERT [dbo].[WithdrawalRequests] ([Id], [CreatorProfileId], [Amount], [Status], [BankAccountInfo], [AdminNote], [CreatedAt], [ProcessedAt]) VALUES (1, 1, CAST(2500000.00 AS Decimal(18, 2)), 0, N'{"sheba":"IR120570028080010000000000","accountOwner":"علی محمدی"}', NULL, CAST(N'2026-06-05T09:59:45.8400000' AS DateTime2), NULL)
INSERT [dbo].[WithdrawalRequests] ([Id], [CreatorProfileId], [Amount], [Status], [BankAccountInfo], [AdminNote], [CreatedAt], [ProcessedAt]) VALUES (2, 1, CAST(1800000.00 AS Decimal(18, 2)), 0, N'{"sheba":"IR550570028080010000000001","accountOwner":"علی محمدی"}', NULL, CAST(N'2026-06-06T09:59:45.8400000' AS DateTime2), NULL)
INSERT [dbo].[WithdrawalRequests] ([Id], [CreatorProfileId], [Amount], [Status], [BankAccountInfo], [AdminNote], [CreatedAt], [ProcessedAt]) VALUES (3, 1, CAST(4200000.00 AS Decimal(18, 2)), 0, N'{"sheba":"IR340170000000105269000000","accountOwner":"علی محمدی"}', NULL, CAST(N'2026-06-07T04:59:45.8400000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[WithdrawalRequests] OFF
GO
ALTER TABLE [dbo].[AiModels]  WITH CHECK ADD  CONSTRAINT [FK_AiModels_AiProviders_AiProviderId] FOREIGN KEY([AiProviderId])
REFERENCES [dbo].[AiProviders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AiModels] CHECK CONSTRAINT [FK_AiModels_AiProviders_AiProviderId]
GO
ALTER TABLE [dbo].[AppInputFields]  WITH CHECK ADD  CONSTRAINT [FK_AppInputFields_Apps_AppId] FOREIGN KEY([AppId])
REFERENCES [dbo].[Apps] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppInputFields] CHECK CONSTRAINT [FK_AppInputFields_Apps_AppId]
GO
ALTER TABLE [dbo].[Apps]  WITH CHECK ADD  CONSTRAINT [FK_Apps_AiModels_AiModelId] FOREIGN KEY([AiModelId])
REFERENCES [dbo].[AiModels] ([Id])
GO
ALTER TABLE [dbo].[Apps] CHECK CONSTRAINT [FK_Apps_AiModels_AiModelId]
GO
ALTER TABLE [dbo].[Apps]  WITH CHECK ADD  CONSTRAINT [FK_Apps_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Apps] CHECK CONSTRAINT [FK_Apps_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Apps]  WITH CHECK ADD  CONSTRAINT [FK_Apps_CreatorProfiles_CreatorProfileId] FOREIGN KEY([CreatorProfileId])
REFERENCES [dbo].[CreatorProfiles] ([Id])
GO
ALTER TABLE [dbo].[Apps] CHECK CONSTRAINT [FK_Apps_CreatorProfiles_CreatorProfileId]
GO
ALTER TABLE [dbo].[AppTags]  WITH CHECK ADD  CONSTRAINT [FK_AppTags_Apps_AppId] FOREIGN KEY([AppId])
REFERENCES [dbo].[Apps] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppTags] CHECK CONSTRAINT [FK_AppTags_Apps_AppId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_AspNetUsers_AdminUserId] FOREIGN KEY([AdminUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_AspNetUsers_AdminUserId]
GO
ALTER TABLE [dbo].[CreatorProfiles]  WITH CHECK ADD  CONSTRAINT [FK_CreatorProfiles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CreatorProfiles] CHECK CONSTRAINT [FK_CreatorProfiles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ExecutionInputValues]  WITH CHECK ADD  CONSTRAINT [FK_ExecutionInputValues_Executions_ExecutionId] FOREIGN KEY([ExecutionId])
REFERENCES [dbo].[Executions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExecutionInputValues] CHECK CONSTRAINT [FK_ExecutionInputValues_Executions_ExecutionId]
GO
ALTER TABLE [dbo].[Executions]  WITH CHECK ADD  CONSTRAINT [FK_Executions_Apps_AppId] FOREIGN KEY([AppId])
REFERENCES [dbo].[Apps] ([Id])
GO
ALTER TABLE [dbo].[Executions] CHECK CONSTRAINT [FK_Executions_Apps_AppId]
GO
ALTER TABLE [dbo].[Executions]  WITH CHECK ADD  CONSTRAINT [FK_Executions_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Executions] CHECK CONSTRAINT [FK_Executions_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Apps_AppId] FOREIGN KEY([AppId])
REFERENCES [dbo].[Apps] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Apps_AppId]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_CreditPackages_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[CreditPackages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_CreditPackages_PackageId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Apps_AppId] FOREIGN KEY([AppId])
REFERENCES [dbo].[Apps] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Apps_AppId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ShowcaseItems]  WITH CHECK ADD  CONSTRAINT [FK_ShowcaseItems_Apps_AppId] FOREIGN KEY([AppId])
REFERENCES [dbo].[Apps] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShowcaseItems] CHECK CONSTRAINT [FK_ShowcaseItems_Apps_AppId]
GO
ALTER TABLE [dbo].[Wallets]  WITH CHECK ADD  CONSTRAINT [FK_Wallets_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wallets] CHECK CONSTRAINT [FK_Wallets_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[WalletTransactions]  WITH CHECK ADD  CONSTRAINT [FK_WalletTransactions_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[WalletTransactions] CHECK CONSTRAINT [FK_WalletTransactions_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[WithdrawalRequests]  WITH CHECK ADD  CONSTRAINT [FK_WithdrawalRequests_CreatorProfiles_CreatorProfileId] FOREIGN KEY([CreatorProfileId])
REFERENCES [dbo].[CreatorProfiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WithdrawalRequests] CHECK CONSTRAINT [FK_WithdrawalRequests_CreatorProfiles_CreatorProfileId]
GO
